@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&display=swap');

body
{
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;

}
.header
{
    padding-bottom: 5px;
    background-image: linear-gradient(grey, #00121b);
    padding-top: 1px;
    text-align: center;
    color: white;
}
.navbar
{
    background: #28263a;
    overflow: hidden;
}
.navbar a
{
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
}
.navbar a.right
{
    float: right;
}
.navbar a:hover
{
    background-color: #545454;
    color: rgb(255, 255, 255);
}
.navbar .search-bar
{
    float: right;
}
.navbar input[type=text] 
{
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
  
.navbar .search-bar button 
{
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
  
.navbar .search-bar button:hover {
    background: #ccc;
}
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.row
{
    
    display: flex;
    flex-wrap: wrap;
}
.side
{
    flex: 30%;
    background-size: cover;
    background-color:  #32353c;
    padding: 20px;
    color: rgb(0, 0, 0);
}

.button
{
    background-color: #3c3c3c;
    box-shadow: rgba(0, 0, 0, 2);
    border: none;
    color: #ffffff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
.main
{
    flex: 70%;
    background-color: #1a1d31;
    padding: 20px;
}
.footer
{
    width: 100%;
    background: #00121b;
    display: block;
}
.inner-footer
{
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}
.footer-items
{
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
}
h1
{
    padding: 10px 0;
    font-size: 25px;
    color: #fff;
    text-transform: capitalize;
}
.footer-items p
{
    color: grey;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
}
h2
{
    margin: 10px 0;
    color: grey;
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
}
.border
{
    height: 2px;
    width: 40px;
    background: #ff9800;
}
ul
{
    list-style: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;
}
ul a
{
    text-decoration: none;
    outline: none;
    color: white;
    transition: 0.3s;
}
ul a:hover
{
    color: #ff9800;
}
ul li 
{
    margin: 10px 0;
    height: 15px;
}
li i
{
    margin-right: 20px;
}
.sosial-media
{
    width: 100%;
    color: #fff;
    text-align: center;
}
.sosial-media a
{
    text-decoration: none;
}
.sosial-media i
{
    height: 15px;
    width: 15px;
    margin: 20px 5px;
    padding: 10px;
    color: #fff;
    transition: 0.3s;
}
.footer-bottom
{
    padding: 10px;
    background: #3d545f;
    color: #fff;
    font-size: 12px;
}
